@import url("/common/index.css");
@import url("/pages/login/index.css");

/* device: PC */
@media screen and (min-width: 1200px)
{
	/*
	form
	{
		gap: 24px;
	}
	*/
}
/* device: Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px)
{
	header
	{
		padding-bottom: 24px;
	}
	form
	{
		gap: 16px;
	}
	button
	{
		margin: 8px 0px;
	}
}
/* device: Mobile */
@media screen and (min-width: 375px) and (max-width: 767px)
{
	form
	{
		gap: 16px;
	}
}
